/* RESET CSS */
html * {
  margin: 0;
}

body {
  /* Centralizar textos */
  text-align: center;
  /* Imagem de fundo */
  background-image: url(https://bit.ly/3g7ht7X);
  /* Remover repetiçāo */
  background-repeat: repeat;
  /* Posicionamento */
  background-position: center;
  /* Altura do body */
  height: 100vh;
  /* Tamanho da imagem */
  background-size: 250px;
  /* Fixar a imagem de fundo */
  background-attachment: fixed;
  /* Cor de fundo da pagina */
  background-color: black;
}

#cabecalho {
  height: 10vh;
  background-color: rgb(175, 173, 173);
  color: white;
}

#conteudo {
  height: 70vh;
  background-color: #00000057;
  color: white;
}

#rodape {
  height: 20vh;
  background-color: rgb(255, 217, 0);
  color: white;
}

.icones {
  width: 50px;
}